footer {
  color: white;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 20px;
  background-color: #2C3E50;
}

footer .footer-col {
  margin-bottom: 20px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
